body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/********************************* 
*                                *
*             A_P_P              *
*                                *
*********************************/
/* .device-component{
  
}
 */


/********************************* 
*                                *
*            DEVICE              *
*                                *
*********************************/
@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.device-item {
  background-image: linear-gradient(25deg, #295586, #34729f, #3d90b8, #46afd2);
  /* border-right:   4px solid #253854; */
  border-radius:  10px;
  padding:        10px 10px;
  margin:         10px;
  display:       inline-block;
  text-align:   center;
  box-shadow:   0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
  height:       80px;
  width:        80px;
}
.device-item:hover {
  cursor:       pointer;
  background-image: linear-gradient(25deg, #3268a7, #4490c7, #53c2fa, #55d3fd);
}
.device-icon {
  vertical-align: middle;
  height:         40px;
  width:          40px;
  padding:        5%;
  align-items:    center;
}
.device-icon.DEVICE_OFF {
  vertical-align: middle;
  height:         40px;
  width:          40px;
  padding:        5%;
  align-items:    center;
  opacity: 30%;
  filter: grayscale(100%);
}
.device-item .device-name {
  color:    #ffffff;
  font:      7px Tahoma, Geneva, sans-serif;
  font-weight: 100;
  text-align: center;
}
.device-item.DEVICE_OFF {
  background-image: linear-gradient(25deg, #193453, #254e6b, #245168, #2d6c81);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
}
.device-item.DEVICE_OFF .device-name{
  color: #9c9c9c;
  font:      7px Tahoma, Geneva, sans-serif;
  font-weight: 100;
  text-align: center;
}
.device-item.DEVICE_DISABLE {
  background: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
  border-left:4px solid #ffffff;
  color:    white;
}
/******************************
*        List device          *
******************************/
.device-list{
  background:    #ffffff;
  height: 400px;
}
.loading-device {
  padding: 10px 10px;
  align-items: center;
}
.loading-device span {
  animation: glow 1.5s ease-in-out infinite;
  background-image: linear-gradient(25deg, #3269a773, #4490c780, #53c2fa6e, #55d3fd7a);
  color: transparent;
  cursor: progress;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius:  10px;
  padding-right: 10px;
}
.device-item-empty {
  opacity: 50%;
  border-radius:  0px;
  padding:        15px 15px;
  margin:         20px;
  color:         #253854;
  display:       inline-block;
  text-align:   center;
  height:       70px;
  width:        70px;
}
.empty-message {
  background:    #ffffff;
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: auto;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}
.empty-message .title-message {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-align: center;
  color: #295586;
}
.empty-message .subtitle-message {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: center;
}
.empty-message .message {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: center;
}
.empty-message .subtitle-message:hover {
  cursor:       pointer;
  color: #5d8ebbc7;
}

/******************************
*        Screen device        *
******************************/

.screen-error-device {
  padding: 20px;
  background:#ffffff;
  width: 1060px;
  height: 400px;
}
.screen-device {
  padding: 20px;
  background: rgb(255, 255, 255);
}
.screen-device nav {
  background: #34729f;
  padding: 1px;
  text-align: left;
  box-shadow:   0 3px 2px rgb(0, 0, 0),0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(52, 115, 159, 0.635);
}
.screen-device .screen-title {
  line-height: 15px;
  padding-left: 20px;
  
  /* cursor: pointer; */ 
}
.screen-device .screen-message {
  color: #ffffff; 
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  font-size: 35px; 
  font-weight: 400; 
  letter-spacing: 1px; 
}

/********************************* 
*                                *
*       FORM ADD DEVICE          *
*                                *
*********************************/
.form-device{
  background: #46afd223;
  padding-bottom: 30px;
}

.title-form-device{
  padding: 3px 20px 1px;
 
}
.label-form-device{
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  color: #34729f;
  font-size: 30px;
}
.input-text-device{
  width: 500px;
  height: 40px;
  margin-left: 20px;
  border-radius: 5px;
  border-color: #245799;
  box-shadow:   0 1px 2px rgba(189, 189, 189, 0.07),0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}
.input-search-device{
  width: 250px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-color: #245799;
  box-shadow:   0 1px 2px rgba(189, 189, 189, 0.07),0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}
::placeholder{
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

/********************************* 
*                                *
*         CAROUSEL LIST          *
*                                *
*********************************/
.device-complete-form{
  height: 600px;
  width: 400px;
}