body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**************** 
*     DEVICE    * 
****************/
.device-item {
  background:    #ffffff;
  border-left:   4px solid #253854;
  border-radius: 0px;
  padding:       10px 10px;
  color:         #253854;
  display:       inline-block;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}
.device-item:hover {
  cursor: pointer;
  background: #d1d1d1c7;
}
.device-icon {
  vertical-align: middle;
  height: 40px;
  width: 40px;
  padding: 5%;
  align-items: center;
}
.device-item .device-name {
  color: #253854;
  font:  normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
}
.device-item.DEVICE_OFF {
  background: rgb(146, 144, 144);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
}
.device-item.DEVICE_DISABLE {
  background: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
  border-left:   4px solid #ffffff;
  color: white;
}
/*******************************/