body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/********************************* 
*                                *
*             A_P_P              *
*                                *
*********************************/
.device-component{
  
}



/********************************* 
*                                *
*            DEVICE              *
*                                *
*********************************/
@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.device-item {
  background:    #dff3ff;
  /* border-right:   4px solid #253854; */
  border-radius:  0px;
  padding:        10px 10px;
  margin:         10px;
  color:         #253854;
  display:       inline-block;
  text-align:   center;
  box-shadow:   0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
  height:       70px;
  width:        70px;
}
.device-item:hover {
  cursor:       pointer;
  background: #d1d1d1c7;
}
.device-icon {
  vertical-align: middle;
  height:         30px;
  width:          30px;
  padding:        5%;
  align-items:    center;
}
.device-item .device-name {
  color:    #253854;
  font:       normal bold 8px/1 Tahoma, Geneva, sans-serif;
  text-align: center;
}
.device-item.DEVICE_OFF {
  background: rgb(146, 144, 144);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
}
.device-item.DEVICE_DISABLE {
  background: rgb(0, 0, 0);
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0);
  border-left:4px solid #ffffff;
  color:    white;
}
/******************************
*          List device        *
******************************/
.device-list{
  background:    #dff3ff;
  height: 400px;
}
.loading-device {
  padding: 10px 10px;
  background: #dff3ff;
  align-items: center;
  padding-left: 10px;
}
.loading-device span {
  animation: glow 1.5s ease-in-out infinite;
  background: rgb(156, 207, 248);
  color: transparent;
  cursor: progress;
  display: inline-block;
  height: 100px;
  width: 100px;
}
.device-item-empty {
  background:    #dff3ff;
  border-radius:  0px;
  padding:        10px 10px;
  margin:         10px;
  color:         #253854;
  display:       inline-block;
  text-align:   center;
  height:       70px;
  width:        70px;
}
.empty-message {
  background:    #dff3ff;
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: auto;
  width: auto;
  height: auto;
  transform: translate3d(0, -50%, 0);
  text-align: center;
}
.empty-message .title-message {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  color: #555;
}
.empty-message .subtitle-message {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: center;
}
.empty-message .message {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-align: center;
}
.empty-message .subtitle-message:hover {
  cursor:       pointer;
  color: #5d8ebbc7;
}

/******************************
*        Screen device        *
******************************/

.screen-error-device {
  padding: 20px;
  background:#dff3ff;
  width: 1060px;
  height: 400px;
}
.screen-device {
  padding: 20px;
  background: rgb(255, 255, 255);
}
.screen-device nav {
  background: #6fb2ffcc;
  padding: 1px;
  text-align: left;
}
.screen-device .screen-title {
  line-height: 15px;
  padding-left: 20px;
  /* cursor: pointer; */ 
}
.screen-device .screen-message {
  color: #060888; 
  font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 35px; 
  font-weight: 400; 
  letter-spacing: 1px; 
}




